.bg-conteudo {
    background: url(/assets/temas/mhc/background.jpg);
    background-size: 50px;
}

.bg-header {
    background: #FFFFFF;
    border-bottom: 3px solid #0099FF;
}
.bg-titulo {
    color: #0099FF;
}
.bg-nav__link {
    border: 1px solid #0099FF;
    color: #0099FF;
}
.bg-nav__link:hover {
    background: #0099FF;
    color: #FDFDFD;
}

.bg-nav .bg-android, .bg-post__categorias .bg-android {
    background: #00CC99;
    border-color: #00CC99;
    color: #FDFDFD;
}
.bg-nav .bg-android:hover {
    background: #FDFDFD;
    color: #00CC99;
}
.bg-nav .bg-css3, .bg-post__categorias .bg-css3 {
    background: #0099FF;
    border-color: #0099FF;
    color: #FDFDFD;
}
.bg-nav .bg-css3:hover {
    background: #FDFDFD;
    color: #0099FF;
}
.bg-nav .bg-dba, .bg-post__categorias .bg-dba {
    background: #A1A1A1;
    border-color: #A1A1A1;
    color: #FDFDFD;
}
.bg-nav .bg-dba:hover {
    background: #FDFDFD;
    color: #A1A1A1;
}
.bg-nav .bg-html5, .bg-post__categorias .bg-html5 {
    background: #FF9933;
    border-color: #FF9933;
    color: #FDFDFD;
}
.bg-nav .bg-html5:hover {
    background: #FDFDFD;
    color: #FF9933;
}
.bg-nav .bg-infra, .bg-post__categorias .bg-infra {
    background: #595959;
    border-color: #595959;
    color: #FDFDFD;
}
.bg-nav .bg-infra:hover {
    background: #FDFDFD;
    color: #595959;
}
.bg-nav .bg-java, .bg-post__categorias .bg-java {
    background: #FF8080;
    border-color: #FF8080;
    color: #FDFDFD;
}
.bg-nav .bg-java:hover {
    background: #FDFDFD;
    color: #FF8080;
}
.bg-nav .bg-javascript, .bg-post__categorias .bg-javascript {
    background: #ECEC00;
    border-color: #ECEC00;
    color: #FDFDFD;
}
.bg-nav .bg-javascript:hover {
    background: #FDFDFD;
    color: #ECEC00;
}
.bg-nav .bg-php, .bg-post__categorias .bg-php {
    background: #FF66FF;
    border-color: #FF66FF;
    color: #FDFDFD;
}
.bg-nav .bg-php:hover {
    background: #FDFDFD;
    color: #FF66FF;
}

.bg-facebook {
    color: #6699FF;
}
.bg-github {
    color: #9900CC;
}
.bg-google-plus {
    color: #FF4D4D;
}
.bg-instagram {
    color: #996633;
}
.bg-linkedin {
    color: #0066CC;
}
.bg-twitter {
    color: #66CCFF;
}

.bg-post__titulo, .bg-post__autor, .bg-post__data {
    color: #0099FF;
}
.bg-post__continuarLendo {
    border-color: #0099FF;
    color: #0099FF;
}
.bg-post__continuarLendo:hover {
    background: #0099FF;
}

.bg-aside__titulo {
    color: #0099FF;
}

.bg-autor__nome {
    color: #0099FF;
}

.bg-footer {
    background: #FFFFFF;
    border-top: 3px solid #0099FF;
}
.bg-footer__link, .bg-footer .bg-aside__descricao {
    color: #595959;
}
.bg-footer__link--titulo {
    color: #0099FF;
}

.bg-visualizar .bg-post__conteudo h1,
.bg-visualizar .bg-post__conteudo h2,
.bg-visualizar .bg-post__conteudo h3,
.bg-visualizar .bg-post__conteudo h4,
.bg-visualizar .bg-post__conteudo h5,
.bg-visualizar .bg-post__conteudo h6 {
    font-weight: 500;
    margin-top: 2.5rem;
}
.bg-visualizar .bg-post__conteudo a, .bg-visualizar .bg-post__conteudo strong {
    border-radius: 2px;
    padding: .2rem;
}
.bg-visualizar .bg-post__conteudo a, .bg-visualizar .bg-post__conteudo a code {
    background: #FFE6E6;
    color: #FF8080;
}
.bg-visualizar .bg-post__conteudo strong, .bg-visualizar .bg-post__conteudo strong code {
    background: #E6F5FF;
    color: #0099FF;
}
.bg-visualizar .bg-post__conteudo ol li {
    list-style: decimal;
}
.bg-visualizar .bg-post__conteudo pre {
    white-space: pre-wrap;
}