/*
@media screen and (min-width: 0) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {

}
*/
@media screen and (min-width: 0) {
    .bg-toggleNav {
        display: block;
    }
    .bg-conteudo, .bg-conteudo--visualizar {
        padding: 2rem;
    }
    .bg-header {
        padding: 2rem;
    }
    .bg-pesquisar {
        display: none;
    }
    .bg-nav__link {
        margin-top: 1rem;
        text-align: center;
        width: 100%;
    }
    .bg-banner {
        grid-template-columns: 100% 0;
    }
    .bg-banner__post___titulo {
        font-size: 1.5rem;
    }
    .bg-posts {
        width: 100%;
    }
    .bg-visualizar .bg-post__titulo {
        font-size: 1.7rem;
    }
    .bg-visualizar .bg-post__imagem {
        height: 200px;
    }
    .bg-visualizar iframe {
        max-width: 100%;
    }
    .bg-aside {
        display: none;
    }
    .bg-autor__imagem {
        height: 75px;
        width: 75px;
    }
    .bg-autor__informacoes {
        margin-left: 75px;
        width: calc(100% - 75px);
    }
    .bg-pagina__titulo {
        font-size: 1.7rem;
    }
    .bg-paginacao {
        margin-bottom: 2rem;
    }
    .bg-paginacao__link {
        font-size: 1rem;
        padding: .5rem .75rem;
    }
    .bg-postsRelacionados__post___imagem {
        display: none;
    }
    .bg-postsRelacionados__post___conteudo {
        width: 100%;
    }
    .bg-footer {
        padding: 1rem 2rem;
    }
    .bg-footer__lista {
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .bg-toggleNav {
        display: none;
    }
    .bg-conteudo, .bg-conteudo--visualizar {
        padding: 3rem 5rem;
    }
    .bg-header {
        padding: 2rem 5rem;
    }
    .bg-pesquisar {
        display: inline-block;
    }
    .bg-nav__link {
        margin-top: 0;
        text-align: initial;
        width: initial;
    }
    .bg-banner {
        grid-template-columns: auto auto;
    }
    .bg-banner__post___titulo {
        font-size: 2rem;
    }
    .bg-posts {
        width: calc(65% - 3rem);
    }
    .bg-visualizar .bg-post__titulo {
        font-size: 2.5rem;
    }
    .bg-visualizar .bg-post__imagem {
        height: 500px;
    }
    .bg-visualizar iframe {
        max-width: initial;
    }
    .bg-aside {
        display: block;
    }
    .bg-autor__imagem {
        height: 150px;
        width: 150px;
    }
    .bg-autor__informacoes {
        margin-left: 150px;
        width: calc(100% - 150px);
    }
    .bg-pagina__titulo {
        font-size: 2rem;
    }
    .bg-paginacao {
        margin-bottom: 0;
    }
    .bg-paginacao__link {
        font-size: 1.125rem;
        padding: .5rem 1rem;
    }
    .bg-postsRelacionados__post___imagem {
        display: inline-block;
    }
    .bg-postsRelacionados__post___conteudo {
        width: calc(100% - (var(--imagem-post) + 5px + 8px));
    }
    .bg-footer {
        padding: 1rem 5rem;
    }
    .bg-footer__lista {
        margin-bottom: 0;
    }
}