:root {
    --primaria: #820CAF;
    --secondaria: #12E50F;
    --texto: #595959;
    --aux: #FDFDFD;
}

.o-form__icon {
    color: var(--primaria) !important;
}

.bg-toggleNav {
    color: var(--primaria);
    float: right;
    margin-top: .75rem;
}

.bg-conteudo--visualizar {
    background: var(--aux);
}

.bg-header {
    background: var(--aux);
    display: block;
    padding: 0;
    position: relative;
}
.bg-header--container {
    padding: 1rem 3rem 0;
}

.bg-titulo {
    margin-top: .7rem;
}

.bg-marca {
    color: var(--secondaria);
}
.bg-marca:hover {
    text-decoration: underline;
}

.bg-logo {
    width: 175px;
}

.bg-nav__lista {
    margin-left: -.5rem;
    margin-top: .2rem;
}
.bg-nav__link {
    border: none;
    border-radius: 0;
    color: var(--primaria);
}
.bg-nav__link::before {
    font-family: Stilize;
    font-size: 1.2rem;
    margin-right: .25rem;
    vertical-align: middle;
}
.bg-nav__link:hover, .bg-nav__link.is-ativo {
    background: var(--primaria);
    color: var(--aux);
}

.bg-animes::before {
    content: "\e853";
}
.bg-filmes::before {
    content: "\e81f";
}
.bg-games::before {
    content: "\f11b";
}
.bg-tecnologia::before {
    content: "\f109";
}

.bg-pesquisar {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 350px;
}
.bg-pesquisar__data, .bg-newsletter__data {
    border-radius: 50px !important;
    padding-left: 1rem;
}
.bg-pesquisar__data:focus, .bg-newsletter__data:focus {
    border-color: var(--primaria);
    box-shadow: 0 0 3px 1px rgba(130, 12, 175, .3);
}
.bg-pesquisar__botao, .bg-newsletter__botao {
    background: var(--primaria);
    border: 2px solid var(--primaria);
    border-bottom: none;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    padding: .6rem .85rem !important;
}
.bg-pesquisar .o-form__icon, .bg-aside__caixa--newsletter .o-form__icon {
    background: var(--primaria);
    border-radius: 100%;
    color: var(--aux) !important;
    padding: .2rem;
    top: 8px;
}
.bg-pesquisar__exemplo {
    padding-left: 1rem;
}

.bg-info {
    background: var(--primaria);
    color: var(--aux);
    letter-spacing: 2px;
    padding: .5rem;
    text-align: center;
}

.bg-categoria {
    background: var(--primaria);
    border-bottom: 5px solid rgba(0, 0, 0, .225);
    color: var(--aux);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.bg-resultado {
    background: #F5F5F5;
    border-color: var(--primaria);
    border-width: 5px;
    margin: 2rem;
    margin-bottom: 0;
    width: initial;
}
.bg-resultado strong {
    color: var(--primaria);
}

.bg-banner {
    height: calc(100vh - 124px);
}
.bg-banner__post {
    color: var(--aux);
}
.bg-banner__post___categoria {
    color: var(--secondaria);
}

.bg-publicidade--banner, .bg-publicidade--box {
    text-align: center;
}
.bg-publicidade--banner {
    padding: 1rem 0;
}
.bg-publicidade--box {
    margin-bottom: 3rem;
}
.bg-publicidade--banner .bg-publicidade__imagem, .bg-publicidade--box .bg-publicidade__imagem {
    border: 1px solid #DCDCDC;
}

.bg-posts {
    padding: 2rem;
}
.bg-post {
    background: none;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    display: inline-block;
    margin-bottom: 0;
    padding: 2.5rem 0;
}
.bg-post:last-child {
    border-bottom: none;
}
.bg-post__imagem {
    background-position: center;
    background-size: cover;
    float: left;
    height: 200px;
    margin: 0;
    margin-right: 1rem;
}
.bg-post__wrap {
    float: left;
}
.bg-post__titulo {
    color: var(--primaria);
}
.bg-post__conteudo {
    color: var(--texto);
    margin: .5rem 0;
}
.bg-post__data {
    font-size: .8rem;
}
.bg-post__tag, .bg-post__categoria {
    background: none;
    color: #BFBFBF;
    font-weight: 300;
    padding: 0;
}
.bg-post__tag:hover, .bg-post__categoria:hover {
    background: none;
    text-decoration: underline;
}
.bg-post__tag::after {
    content: none;
}
.bg-post__autor {
    color: var(--primaria);
}
.bg-post__categorias, .bg-post__informacoes {
    display: inline-block;
}
.bg-post__informacoes {
    color: #BFBFBF;
}

.bg-visualizar .bg-post__titulo:hover {
    text-decoration: underline;
}
.bg-visualizar .bg-post__categoria {
    color: var(--secondaria);
}

.bg-aside {
    padding: 3rem 2rem 2rem 0;
}
.bg-aside__caixa {
    background: none;
    border-radius: 7px;
    padding: 0;
}
.bg-aside__titulo {
    background: var(--primaria);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: var(--aux);
    margin-bottom: 0;
    padding: 1rem;
}
.bg-aside__corpo {
    padding: .5rem 1rem;
}
.bg-aside__button {
    background: var(--primaria);
    border-radius: 5px;
}

.bg-aside__caixa--redessociais .bg-aside__lista--redesocial {
    display: flex;
    justify-content: space-around;
}
.bg-aside__caixa--redessociais .bg-aside__link {
    font-size: 2.5rem;
}
.bg-aside__caixa--redessociais .bg-facebook, .bg-autor__informacoes .bg-facebook {
    color: #3366FF;
}
.bg-aside__caixa--redessociais .bg-google-plus, .bg-autor__informacoes .bg-google-plus {
    color: #FF8080;
}
.bg-aside__caixa--redessociais .bg-instagram, .bg-autor__informacoes .bg-instagram {
    color: #996600;
}
.bg-aside__caixa--redessociais .bg-twitter, .bg-autor__informacoes .bg-twitter {
    color: #33CCFF;
}

.bg-aside__caixa--newsletter .bg-aside__corpo {
    padding: 1rem;
}

.bg-aside__caixa--postsrecentes .bg-aside__corpo {
    padding: 0;
}
.bg-aside__caixa--postsrecentes .bg-aside__item:last-child .bg-aside__link {
    border-bottom: none;
}
.bg-aside__caixa--postsrecentes .bg-aside__indice {
    background: #F5F5F5;
    color: #595959;
    display: inline-block;
    font-size: 2rem;
    line-height: 2.4;
    text-align: center;
    width: 75px;
}
.bg-aside__caixa--postsrecentes .bg-aside__link {
    border-bottom: 1px solid #DCDCDC;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
}
.bg-aside__caixa--postsrecentes .bg-aside__link:hover {
    padding: 0;
    text-decoration: underline;
}
.bg-aside__caixa--categorias .bg-aside__link {
    text-transform: uppercase;
}
.bg-aside__caixa--categorias .bg-aside__link::before {
    color: var(--secondaria);
    font-family: Stilize;
    margin-right: .5rem;
}
.bg-aside__caixa--arquivos .bg-aside__link::before {
    color: var(--secondaria);
    content: "\f187";
    font-family: Stilize;
    margin-right: .5rem;
}

.bg-autor {
    background: var(--aux);
}
.bg-autor__nome {
    color: var(--primaria);
}

.bg-footer {
    background: var(--primaria);
    color: var(--aux);
    padding: 3rem 2rem;
}
.bg-footer__link, .bg-footer .bg-aside__descricao {
    color: var(--aux);
}
.bg-footer__link:hover:not(.bg-footer__link--titulo) {
    font-size: 1rem;
}
.bg-footer__redessociais {
    margin-bottom: 2rem;
    width: 100%;
}
.bg-footer__redessociais___lista {
    display: flex;
    justify-content: center;
}
.bg-footer__redessociais___link {
    display: block;
    font-size: 2rem;
    transition: transform .2s ease-in-out;
}
.bg-footer__redessociais___link:hover {
    transform: scale(1.275);
}
.bg-footer .bg-aside__titulo, .bg-footer .bg-aside__corpo {
    padding: 0;
}
.bg-footer .bg-aside__button {
    background: var(--aux);
    color: var(--primaria);
}

.bg-rodape {
    align-items: center;
    background: var(--primaria);
    border-top: 1px solid var(--aux);
    color: var(--aux);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.bg-rodape__logo {
    margin-right: .5rem;
    vertical-align: middle;
}
.bg-rodape__link:hover {
    text-decoration: underline;
}

/***
** Media Querie
***/
@media screen and (min-width: 0) {
    .bg-titulo {
        margin-bottom: .75rem;
    }
    .bg-nav {
        display: none;
    }
    .bg-nav__lista {
        flex-direction: column;
    }
    .bg-info {
        font-size: .85rem;
    }
    .bg-publicidade--banner {
        padding-bottom: 0;
    }
    .bg-publicidade__imagem {
        width: 90%;
    }
    .bg-posts {
        padding: 0 1rem;
    }
    .bg-post__wrap {
        width: 100%;
    }
    .bg-post__imagem {
        margin-bottom: 1rem;
        width: 100%;
    }
    .bg-rodape {
        flex-direction: column;
    }
    .bg-rodape__marca {
        margin-bottom: .75rem;
    }
    .bg-rodape__lista {
        width: 100%;
    }
    .bg-rodape__lista, .bg-rodape__item {
        display: block;
    }
    .bg-rodape__link {
        margin-left: 0;
    }
}
@media screen and (min-width: 768px) {
    .bg-titulo {
        margin-bottom: 0;
    }
    .bg-nav {
        display: flex;
    }
    .bg-nav__lista {
        flex-direction: row;
    }
    .bg-info {
        font-size: 1rem;
    }
    .bg-publicidade--banner {
        padding-bottom: 1rem;
    }
    .bg-publicidade__imagem {
        width: 75%;
    }
    .bg-posts {
        padding: 2rem;
    }
    .bg-post__wrap {
        width: calc(100% - 321px);
    }
    .bg-post__imagem {
        margin-bottom: 0;
        width: 300px;
    }
    .bg-conteudo--visualizar {
        padding: 2rem 10rem;
    }
    .bg-rodape {
        flex-direction: row;
    }
    .bg-rodape__marca {
        margin-bottom: 0;
    }
    .bg-rodape__lista {
        width: initial;
    }
    .bg-rodape__lista, .bg-rodape__item {
        display: inline-block;
    }
    .bg-rodape__link {
        margin-left: .75rem;
    }
}