:root {
    --primaria: #820CAF;
    --secondaria: #12E50F;
    --texto: #595959;
    --aux: #FDFDFD;
}

.bg-header {
    background: var(--aux);
    display: block;
    padding: 0;
    position: relative;
}
.bg-header--container {
    padding: 1rem 3rem 0;
}

.bg-titulo {
    margin-top: .7rem;
}

.bg-marca {
    color: var(--secondaria);
}
.bg-marca:hover {
    text-decoration: underline;
}

.bg-logo {
    width: 175px;
}

.bg-nav__lista {
    margin-left: -.5rem;
    margin-top: .2rem;
}
.bg-nav__link {
    border: none;
    border-radius: 0;
    color: var(--primaria);
    font-weight: 500;
    letter-spacing: 2px;
}
.bg-nav__link::before {
    font-family: Stilize;
    font-size: 1.2rem;
    margin-right: .25rem;
    vertical-align: middle;
}
.bg-nav__link:hover, .bg-nav__link.is-ativo {
    background: var(--primaria);
    color: var(--aux);
}

.bg-animes::before {
    content: "\e853";
}
.bg-filmes::before {
    content: "\e81f";
}
.bg-games::before {
    content: "\f11b";
}
.bg-tecnologia::before {
    content: "\f109";
}

.bg-pesquisar {
    display: inline-block;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 350px;
}
.bg-pesquisar__data {
    border-bottom-left-radius: 50px !important;
    border-top-left-radius: 50px !important;
    padding-left: 1rem;
}
.bg-pesquisar__data:focus {
    border-color: var(--primaria);
    box-shadow: 0 0 3px 1px rgba(130, 12, 175, .3);
}
.bg-pesquisar__botao {
    background: var(--primaria);
    border: 2px solid var(--primaria);
    border-bottom: none;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    padding: .6rem .85rem !important;
}
.bg-pesquisar__exemplo {
    padding-left: 1rem;
}

.bg-info {
    background: var(--primaria);
    color: var(--aux);
    letter-spacing: 2px;
    padding: .5rem;
    text-align: center;
}

.bg-banner {
    display: grid;
    grid-gap: .1rem;
    grid-template-areas:
        "banner banner2"
        "banner banner3";
    grid-template-rows: auto auto;
    height: calc(100vh - 124px);
}
.bg-banner__wrap {
    overflow: hidden;
}
.bg-banner__wrap--1 {
    grid-area: banner;
}
.bg-banner__wrap--2 {
    grid-area: banner2;
}
.bg-banner__wrap--3 {
    grid-area: banner3;
}
.bg-banner__post {
    color: var(--aux);
    height: 100%;
    overflow: hidden;
    position: relative;
}
.bg-banner__post___imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: transform .2s linear;
}
.bg-banner__post___imagem:hover {
    transform: scale(1.2);
}
.bg-banner__post___info {
    background: rgba(0, 0, 0, .4);
    bottom: 2rem;
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, .4);
    left: 2rem;
    position: absolute;
}
.bg-banner__post___categoria {
    background: none;
    color: var(--secondaria);
    display: block;
}
.bg-banner__post___data {
    font-weight: 100;
    font-size: .85rem;
    line-height: 1.5;
}
.bg-banner__post___titulo {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.bg-banner__post___titulo:hover {
    text-decoration: underline;
}

.bg-posts {
    padding: 3rem 2rem;
}
.bg-post {
    background: none;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    display: inline-block;
    margin-bottom: 0;
    padding: 2.5rem 0;
}
.bg-post:last-child {
    border-bottom: none;
}
.bg-post__imagem {
    background-position: center;
    background-size: cover;
    float: left;
    height: 200px;
    margin: 0;
    margin-right: 1rem;
    width: 300px;
}
.bg-post__wrap {
    float: left;
    width: calc(100% - 321px);
}
.bg-post__titulo {
    color: var(--primaria);
}
.bg-post__conteudo {
    color: var(--texto);
    margin: .5rem 0;
}
.bg-post__data {
    font-size: .8rem;
}
.bg-post__tag, .bg-post__categoria {
    background: none;
    color: #BFBFBF;
    font-weight: 300;
    padding: 0;
}
.bg-post__tag:hover, .bg-post__categoria:hover {
    background: none;
    text-decoration: underline;
}
.bg-post__tag::after {
    content: none;
}
.bg-post__autor {
    color: var(--primaria);
}
.bg-post__categorias, .bg-post__informacoes {
    display: inline-block;
}
.bg-post__informacoes {
    color: #BFBFBF;
}

.bg-footer {
    padding: 0;
}