$link-seta-height: 25px

.#{$prefix}-menu
    margin-top: $aside-height
    &__lista
        &--segundo
            @include transform("translateX(-500px)")
            @include transition("all .3s ease-in-out")
            opacity: 0
            left: $menu-width
            position: absolute
            top: 0
            width: $menu-width
            z-index: -1            
    &__item
        position: relative
        &.is-ativo > .#{$prefix}-menu__lista--segundo
            @include transform("translateX(0)")
            opacity: 1
            position: initial
            z-index: initial
            &::before
                display: none
        &:hover > .#{$prefix}-menu__lista--segundo
            @include transform("translateX(0)")
            opacity: 1
            z-index: 1
        &--segundo
            &:first-child
                .#{$prefix}-menu__link
                    &:first-child::before
                        @include transform("rotate(45deg)")
                        content:  ""
                        height: $link-seta-height
                        position: absolute
                        left: -$link-seta-height / 2
                        width: $link-seta-height
                        top: 7px
    &__link
        display: block
        font-weight: 100
        line-height: 2.5
        padding: 0 1.055rem
        position: relative
        &.is-ativo
            &::after
                @include transform("rotate(45deg)")
                background: $background
                content:  ""
                height: $link-seta-height
                position: absolute
                right: -$link-seta-height / 2
                width: $link-seta-height
                top: 7px
        &--segundo
            &.is-ativo
                background: inherit !important
                font :
                    size: 1.1rem
                    weight: 500
                &::after
                    display: none

@import menu_temas