@each $tema in $temas
    .#{$prefix}-menu--#{$tema}
        @extend .#{$prefix}-menu
        background: map_get($temas-colors, $tema)
        color: map_get($temas-texts, $tema)
        .#{$prefix}-menu__lista
            &--segundo
                background: lighten(map_get($temas-colors, $tema), 10%)
        .#{$prefix}-menu__link
            &--segundo
                &::before
                    background: lighten(map_get($temas-colors, $tema), 10%)
                &:hover::before
                    background: map_get($temas-colors-hover, $tema)    
            &.is-ativo
                background: map_get($temas-colors-ativo, $tema)                
            &:hover
                background: map_get($temas-colors-hover, $tema) !important
                color: map_get($temas-texts-hover, $tema)