////
// SIPLEMDE
////
.editor-toolbar
    background: #F0F0F0
    opacity: 1
    a
        color: #333333 !important
.editor-statusbar
    color: #333333
.CodeMirror, .CodeMirror-scroll, .CodeMirror pre
    position: initial

////
// TINYMCE
////
.mce-panel
    @include border-radius(4px)
.mce-tinymce, .mce-btn, .mce-statusbar
    position: initial !important
.mce-preview
    left: initial !important
    margin-left: 0 !important
    margin-top: 0 !important
    overflow: initial !important
    padding-right: 0 !important
    position: initial !important
    top: initial !important
    width: initial !important
.mce-colorbtn-trans div
    line-height: 10px !important
.mce-reset .mce-menubtn
    margin-left: 75px !important

////
// STILIZE
////
.o-form__body--padding
    padding: 1rem 0
.bg-p-dashboard__header .o-button--tie.o-button--medium
    display: inline-block