////
// SIPLEMDE
////
.editor-toolbar
    background: #F0F0F0
    opacity: 1
    a
        color: #333333 !important
.editor-statusbar
    color: #333333
.CodeMirror, .CodeMirror-scroll, .CodeMirror pre
    position: initial

////
// TINYMCE
////
.mce-panel
    @include border-radius(4px)
.mce-tinymce, .mce-btn, .mce-statusbar
    position: initial !important

////
// STILIZE
////
.o-form__body--padding
    padding: 1rem 0